section.about{
  max-width: 780px;
  margin: auto;
  padding-top: 130px;
  margin-bottom: 200px;
  
  .about-title{
    @include font-bold;
    font-size: 28px;
    color: $color-black;
    margin: 0;
  }
  
  .about-text{
    @include font-medium;
    font-size: 16px;
    line-height: 1.6;
    color: $color-black;
    padding-top: 50px;
    
    & strong{
      @include font-bold;
    }
  }
  
  .about-buttons{
    text-align: center;
    padding-top: 70px;
    
    & > .btn {
      margin: 0 10px;
    }
  }
}